body
{
	margin: 0;
	background-color: rgb(250,250,250);
}

header
{
	background-color: black;
}

h1.logo
{
	margin-top: 0px;
	padding-top: 15px;
	padding-left: 10px;
	color: #fff;
	background-color: #000;
	text-transform: uppercase;
}

nav
{
	background-color: rgb(114,166,131);
	wight: 110px;
	height: 50px;
}

.container
{
	background-color: white;
	width: 300px;
	padding: 40px 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	-webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
}

input[type=text],
input[type=password]
{
	width: 300px;
	background-color: #efefef; //kolor wporwadzacza
	color: #666;
	border: 2px solid #ddd;
	border-radius: 5px; //zaokrragleieni obramowan
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none; //brak outline 
	margin-top: 10px;
	margin-bottom: 10px;
}

input[type=text]:focus,
input[type=password]:focus
{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	border: 2px solid #a5cda5;
	background-color: #e9f3e9;
	color: #428c42;
}

input[type=submit]
{
	width: 300px;
	background-color: rgb(114,186,131);
	font-size: 15px;
	color: white;
	padding: 12px 10px;
	margin-top: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 4px;
}

input[type=submit]:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
}

input[type=submit]:hover
{
	background-color: #37b93d;
}

